.card {
  width: 400px;
  box-shadow: 1px 1px 10px 4px lightgray;
  border-radius: 6px;
}

.author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 14px;
  border-bottom: 1px solid rgb(113, 113, 113);
}

.author img {
  width: 20px;
}

.stats {
  display: flex;
  flex-direction: column;
  padding: 14px;
  gap: 18px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgb(113, 113, 113);
}

.remove {
  width: 100%;
  padding: 16px 0px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: crimson;
  font-weight: bold;
}