.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 20px;
  right: 0;
  left: 0;
  z-index: 100;
}

.searchbar-container {
  width: 50%;
  position: relative;
}

.searchbar {
  width: 100%;
  border-radius: 6px;
  padding: 8px 40px;
  border: 1px solid gray;
}

.search-icon {
  width: 18px;
  position: absolute;
  left: 10px;
  top: 10px;
  margin-right: 10px;
}

.searchbar-container .suggeststion-container {
  padding: 10px;
  max-height: 260px;
  overflow-y: auto;
}